html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
  but can be over-ridden as needed */
  box-sizing: inherit;
}

p {
  color: #656878;
}

body {
  display: flex;
  flex-direction: column;
  background-color:#dac6cb;
  font-family: 'Lato', sans-serif;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.sections {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  padding-top: 50px;
}

#card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

li {
  margin: 10px;
}
.sticky-top {
  position: sticky;
  top: 0;
}

.image-mission-statement {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 50px auto 0;
  min-height: 50vh;
}

.section-heading {
  border: solid 1px #8a6968;
  background-color: #dbe7fb;
  color: #5f5a5a;
  margin: 35px 0;
}

.btn-primary {
  background-color: #6b5f5e;
  border:  solid 1px#ab818b;
}

.btn-primary:hover {
  color: #656878;
  background-color: #dbe7fb;
  border:  solid 1px#6b5f5e;
}

.btn-secondary {
  background-color: #ab818b;
  border: solid 1px #6b5f5e;
}

.btn-secondary:hover {
  color: #656878;
  background-color: #dbe7fb;
  border: solid 1px ##ab818b;
}

.contact-info {
  text-align: center;
  margin: 50px;
}

#linkedin-image {
  max-width: 30px;
  margin-left: 20px;
  
}

#github-image {
  max-width: 30px;
}

footer {
  margin-bottom: 60px;
}

#resume a {
  display: flex;
  justify-content: center;
  text-decoration: none;
}

#resume-button {
  border: solid 2px #ab818b;
  border-radius: 5px;
  background-color: #6b5f5e;
  color: #dbe7fb;
  padding: 15px 65px;
  font-size: 20px;
  justify-content: center;
}

#resume-button:hover {
  background-color: #ab818b;
  border: solid 2px #6b5f5e;
}

.mission-pic {
  padding: 30px 0 0 0;
}

.card {
  margin: 20px 20px 0;
}

#skill-list {
  margin: 7vw 17vw 0 17vw;
}

@media (max-width: 768px) {
  #card-container {
    display: flex;
    flex-wrap: wrap;
}}

@media (min-width: 768px){
.navbar-expand-lg .navbar-toggler {
    display: none;
}}

@media (min-width: 768px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}}

@media (min-width: 768px){
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}}