html {
  box-sizing: border-box;
}


*, 
*::before,
*::after { 
  box-sizing: inherit;
}

p {
  color: #656878;
}

body {
  display: flex;
  flex-direction: column;
  background-color:#dac6cb;
  font-family: 'Lato', sans-serif;
  margin: auto;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
}

.sections {
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;
  padding-top: 50px;
}

#hubby-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#second-row {
  display: flex;
  flex-direction: row;
  margin: 50px 0 0 0;
  justify-content: space-evenly;
  align-items: center;
}

.pics {
  max-width: 100px;
  border-radius: 10px;
}
#skills-section {
  margin-top: 30px;
}

#hubby {
max-width: 32vw;
margin-left: 0 20vw;
border: solid 2px whitesmoke;
margin: 0 0 80px 0;
}

#about-me1 {
  margin: 5px 20px;
  max-width: 30vw;
}

#about-me2 {
  margin: 5px 20px;
  max-width: 30vw;
}

#simon {
  max-width: 15vw;
  border: solid 2px whitesmoke;
}

#fam {
  max-width: 50vw;
  border: solid 2px whitesmoke;
}

#kitty {
  max-width: 15vw;
  border: solid 2px whitesmoke;
}

#card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

li {
  margin: 10px;
}
.sticky-top {
  position: sticky;
  top: 0;
}

.image-mission-statement {
  background-image: url("../assets/background.jpg");
  background-size: cover;
  background-position: right;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80vw;
  margin: 50px auto 0;
  min-height: 50vh;
}

.section-heading {
  border: solid 1px #8a6968;
  background-color: #dbe7fb;
  color: #5f5a5a;
  margin: 45px 0;
}

.btn-primary {
  background-color: #6b5f5e;
  border:  solid 1px#ab818b;
}

.btn-primary:hover {
  color: #656878;
  background-color: #dbe7fb;
  border:  solid 1px#6b5f5e;
}

.btn-secondary {
  background-color: #ab818b;
  border: solid 1px #6b5f5e;
}

.btn-secondary:hover {
  color: #656878;
  background-color: #dbe7fb;
  border: solid 1px ##ab818b;
}

.contact-info {
  text-align: center;
  margin: 50px;
}

#linkedin-image {
  max-width: 30px;
  margin-left: 20px;
  
}

#github-image {
  max-width: 30px;
}

footer {
  margin-bottom: 60px;
}

#resume a {
  display: flex;
  text-decoration: none;
  width: 242px;
  margin: auto;
}

#resume-button {
  border: solid 2px #ab818b;
  border-radius: 5px;
  background-color: #6b5f5e;
  color: #dbe7fb;
  padding: 15px 50px;
  font-size: 20px;
  justify-content: center;
}

#resume-button:hover {
  background-color: #ab818b;
  border: solid 2px #6b5f5e;
}

#skills-button {
  display: flex;
  border: solid 2px #6b5f5e;
  border-radius: 5px;
  background-color: #ab818b;
  color: #dbe7fb;
  font-size: 16px;
  padding: 5px 15px;
}

#skills-section button{
  margin: auto;
}

#skill-list {
  font-style: italic;
  text-align: center;
}
.mission-pic {
  padding: 30px 0 0 0;
}

.card {
  margin: 20px 20px 0;
  min-width: 300px;
}

#simon-name {
  text-align: center;
  font-size: 18;
}

#kitty-name {
  text-align: center;
  font-size: 18;
}

#quote {
font-size: 20px;
text-align: right;
color: #8a6968;
}

#skill-list {
  margin: 7vw 17vw 0 17vw;
}

#first-paragraph {
  margin: 60px 0 0 0;
}

#second-paragraph {
  margin: 60px 0 0 0;
}

@media (max-width: 768px) {
  #card-container {
    display: flex;
    flex-wrap: wrap;
}}

@media (min-width: 768px){
.navbar-expand-lg .navbar-toggler {
    display: none;
}}

@media (min-width: 768px){
.navbar-expand-lg .navbar-collapse {
    display: flex!important;
    flex-basis: auto;
}}

@media (min-width: 768px){
.navbar-expand-lg .navbar-nav {
    flex-direction: row;
}}

@media (max-width: 768px){
  #hubby-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
  }
  
  #first-paragraph {
    display: none;
  }


  
  #hubby {
    min-width: 55vw;
    margin: 0;
  }

  #fam {
    min-width: 80vw;
  }

  #about-me2:before {
    content: "I’m a former CT tech, with 13.5 years of experience in Radiology and 11.5 years of experience doing CT at a local doctor’s office, managing their CT department. One of the things I loved about my job as a CT tech was witnessing how small details could have such a major impact in patient care and diagnosis. As much as my meticulous brain and empathetic personality helped me succeed in this position, I was yearning for a career that would give me a better work-life balance and help me to better support my family. I spent about a year playing around with code in my downtime and realized how fulfilling it was creating new things and solving puzzles! I’ve always enjoyed learning and finding ways to make things more efficient and realized software engineering was a good fit for me! After doing some bootcamp research, I realized General Assembly had a proven record of success, and that I was up for this new challenge! "
  }
  #simon-section {
    display: none;
  }

  #kitty-section {
    display: none;
  }
  #about-me2 {
    margin: 5px 20px;
    max-width: 78vw;
  }
}

#intro-to-kathy {
  text-align: center;
  margin: 30px 0;
}