html {
  box-sizing: border-box;
}

/* The Universal Selector */
*, /* All elements*/
*::before, /* All ::before pseudo-elements */
*::after { /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
  but can be over-ridden as needed */
  box-sizing: inherit;
}

ul {
  list-style: none;
}

p {
  color: #656878;
}

body {
  display: grid;
  flex-direction: column;
  background-color:#dac6cb;
  background-size: cover;
}
.header ul{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  justify-content: center;
}

.mission-pic {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  margin: auto;
}

.section-heading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sections {
  display: grid;
  min-height: 500px;
}

li {
  margin: 10px;
}

/* .image-mission-statement {
  background-image: "./assets/background.jpg";
  background-size: cover;
} */

.section-heading {
  border: solid 1px #bfc5c4;
  background-color: #dbe7fb;
  color: #322f2f;
  
}

.contact-info {
  text-align: center;
  margin: 50px;
}

#linkedin-image {
  display: inline;
  max-width: 30px;
  margin-left: 20px;

}

#github-image {
  display: inline;
  max-width: 30px;
}

.card-container {

}

footer {
  min-height: 100px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.fixed {
  position: sticky;
  }
